.form-group{
    display: flex;
    flex-direction: column;
    width: 100vh;
    max-width: 400px;
}
.inputs{
    width: 100%;
    max-width: 500px;
    padding: 5px;
    margin: 5px;
    height: 100%;
}
.form-check{
    text-align: left;
}

.left{
    text-align: left;
}


// body{
//     font-family: 'Roboto', sans-serif;
//     background-image: url("../../Assets/Rider\ sign\ uop\ 2-01[2249].jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     height: 100%;
//     width: 100%;
//         }












